.songRow {
    border: 2px solid #BDBDBD;
    border-radius: 10px;
    margin: 10px;
    overflow-anchor: none;
}

#playButton {
    margin-right: 15px;
}

#songRowAlbum {
    height: 75px;
    width: 75px;
}